@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap");

/*.wrapper {
  width: 400px;
  height: 400px;
  background-color: green;
  position: relative;
}

.box {
  width: 120px;
  height: 120px;
  background-color: red;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  transition: 0.3s ease;
}

.box:hover {
  background-color: blue;
  transform: translate(-50%, -50%) rotate(45deg);
}

li {
  position: relative;
  display: inline-block;
  margin: 200px;
}

li::after {
  content: "";
  height: 2px;
  width: 0%;
  position: absolute;
  bottom: 0px;
  left: 0px;
  background-color: tomato;
  transition: width 0.5s ease;
}

li:hover::after {
  width: 100%;
}

.card {
  animation: myAnimation;
  animation-duration: 5s;
  width: 200px;
  height: 200px;
  background-color: red;
}*/

body {
  font-family: "Heebo", sans-serif;
}

.container {
  max-width: 858px;
  margin: auto;
}

header {
  width: 100%;
  height: 80px;
  /*background-color: #000;*/
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.nav-list {
  display: flex;
  column-gap: 33px;
}

.logo {
  font-size: 28px;
  font-weight: bold;
  font-style: italic;
  color: rgb(32, 32, 210);
}

.burger-menu {
  display: none;
}

.main-content {
  margin: 158px auto 71px auto;
  display: flex;
  justify-content: space-between;
}

.text-wrapper {
  max-width: 506px;
}

.main-heading {
  font-size: 44px;
  font-weight: 700;
  line-height: 60px;
  color: #21243d;
  max-width: 450px;
}

.desc {
  font-size: 16px;
  font-weight: 400;
  line-height: 23.5px;
  color: #21243d;
  margin: 40px 0px 38px 0px;
}

.download-btn {
  width: 208px;
  height: 47px;
  border-radius: 2px;
  color: #fff;
  background-color: #ff6464;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  border: none;
  transition: opacity 0.4s ease;
}

.download-btn:hover {
  opacity: 0.8;
}
